.page-header__container {
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.page-header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  text-align: center;
}

.nav__item {
  padding: 5px;

  border: 1px solid white;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.nav__item:not(:last-child) {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 10px;
  }
}

.nav__link {
  color: $secondary-text-color;
  font-weight: 700;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
