<header class="page-header">
  <div class="container page-header__container">
    <!-- <h1>l2lun - База знаний Asterios</h1> -->

    <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
    <img class="logo page-header__logo" src="./images/logo/logo.webp" alt="" width="320" />
    <div class="js-three page-header__tree-container"></div>

    <ul class="page-header__nav nav">
      <li class="nav__item"><a href="" class="nav__link">Крафт</a></li>
      <li class="nav__item"><a href="" class="nav__link">Спойл</a></li>
      <li class="nav__item"><a href="" class="nav__link">Рейдбоссы</a></li>
      <li class="nav__item"><a href="" class="nav__link">Гайды по игре (текст)</a></li>
      <li class="nav__item"><a href="" class="nav__link">Гайды по игре (видео)</a></li>
    </ul>
  </div>
</header>
