<section class="hero">
  <div class="container">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores consectetur alias
      beatae obcaecati et ullam quae, quaerat soluta, aliquid temporibus ratione magni vero libero
      nostrum blanditiis possimus, cumque facere vitae! Ut enim nisi, quasi minus vitae facilis qui
      laborum quibusdam deleniti soluta mollitia blanditiis molestiae atque animi ratione quaerat.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores consectetur alias
      beatae obcaecati et ullam quae, quaerat soluta, aliquid temporibus ratione magni vero libero
      nostrum blanditiis possimus, cumque facere vitae! Ut enim nisi, quasi minus vitae facilis qui
      laborum quibusdam deleniti soluta mollitia blanditiis molestiae atque animi ratione quaerat.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores consectetur alias
      beatae obcaecati et ullam quae, quaerat soluta, aliquid temporibus ratione magni vero libero
      nostrum blanditiis possimus, cumque facere vitae! Ut enim nisi, quasi minus vitae facilis qui
      laborum quibusdam deleniti soluta mollitia blanditiis molestiae atque animi ratione quaerat.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dolores consectetur alias
      beatae obcaecati et ullam quae, quaerat soluta, aliquid temporibus ratione magni vero libero
      nostrum blanditiis possimus, cumque facere vitae! Ut enim nisi, quasi minus vitae facilis qui
      laborum quibusdam deleniti soluta mollitia blanditiis molestiae atque animi ratione quaerat.
    </p>
  </div>
</section>
